
body {
  margin:0;
  font-family: Verdana,sans-serif;
}

h2 { font-size: 1.17em; }
h3 { font-size: 1em; }

/* all sections are off by default */
body > section {
  margin: 1em;
  display:none;
}


body.about           > section#about,
body.home    > section#home,
body.team-list    > section#team-list,
body.team-add    > section#team-add,
body.team-member-details > section#team-member-details { display:block; }

body header {
  background-color: #333;
  color: #f2f2f2;
  top:0;
  width: 100%;
}

body .brand {
  float: left;
  padding: 14px 12px;
  text-align: center;
}
.brand a{
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
}

/*menu style*/

ul.topnav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  display:inline;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}
ul.topnav li a.selected {background-color: #555;}
ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/***end menu style**/

section ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

section ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

section ul li a {
    display: block;
    text-decoration: none;
    color: #605D5D;

}

section ul li:hover {
	background-color: #fcfcfc;
}

section ul li:last-child {
    border-bottom: none
}

/** form elements **/
