<div>
  <h3><a href="javascript:void(0);" onclick="history.back();" class="link-home">&#8592;</a>Save result</h3>
  <form>
    <div class="form-group">
      <input name="name" type="text" placeholder="archive name" required="required"/>
      <textarea name="description" placeholder="description"></textarea>
      <input type="submit" name="add-member" value="save" class="button btn-success"/>
    </div>
  </form>
  <br/>
  <div class="team-list">
    {{~it :team:idx}}
    <div class="team">
      <h3>{{=team.name}}</h3>
      <ul class="list" >
        {{~team.members :member:idxm}}
          <li>{{=member.name}}</li>
        {{~}}
      </ul>
    </div>
    {{~}}
  </div>
</div>
