
body {
  margin:0;
  font-family: Verdana,sans-serif;
  background-color: #F5F5F5;
  font-size: 14px;
}

h1 { font-size: 1.10em; }
h2 { font-size: 1em; }
h3 { font-size: 1em; }

a {
  text-decoration: none;
}

/* all sections are off by default */
body > section {
  margin:1em;
  display:none;
}

section > div, .alert  {
  width:50%;
  margin:auto;
}



body.about           > section#about,
body.home    > section#home,
body.team-list    > section#team-list,
body.team-list-details    > section#team-list-details,
body.team-add    > section#team-add,
body.team-member-add    > section#team-member-add,
body.archive-save    > section#archive-save,
body.archive-list    > section#archive-list,
body.archive-details    > section#archive-details,
body.tool-build-teams    > section#tool-build-teams ,
body.tool-find-members    > section#tool-find-members  ,
body.tool-next-member    > section#tool-next-member  ,
body.sync   > section#sync,
body.settings   > section#settings,
/*@spapp_generator css*/
body.team-member-details > section#team-member-details { display:block; }

/* nav highlightion rules */
body.about #menu a[href="#about"],
body.team-list #menu a[href="#team-list"],
body.team-list-details #menu a[href="#team-list"],
body.team-add #menu a[href="#team-list"],
body.team-member-add #menu a[href="#team-list"],
body.team-member-details #menu a[href="#team-list"],
body.archive-list  #menu a[href="#archive-list "],
body.archive-save  #menu a[href="#archive-list "],
body.archive-details  #menu a[href="#archive-list "],
body.settings #menu a[href="#settings"],
body.home #menu a[href="#home"] { background-color: #555; }


/*header*/
body> header {
  background-color: #04102A;
  color: #f2f2f2;
  box-shadow: 0px 5px 8px #ccc;
  top:0;
  width: 100%;
}


header h2{
  display: inline-block;
}

.remove-link{
  margin:0;
  color: #D9534F;
  font-size: 1em;
}

body .brand {
  padding: 14px 12px;
  text-align: left;
}
.brand a{
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
}
.brand span{
  display: block;
}

#archive-save .team-list{
  font-size: 0.7em;
  opacity: 0.7;
}

select.spinner {
    background-image:url('loader.gif');
    background-repeat:no-repeat;
    background-position:5px 5px;
}


ul.topnav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04102A;
}

ul.topnav li {
  display:inline;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  /*font-size: 1.2em;*/
}

ul.topnav li a:hover {background-color: #555;}
ul.topnav li a.selected {background-color: #555;}
ul.topnav li.icon {
  display: none;
}


@media screen and (max-width:680px) {
  ul.topnav {
    position: absolute;
    top: 0;
  }
  ul.topnav li {display: none;}
  ul.topnav li.icon {

    display: inline-block;
  }

  body .brand {
    /*float: left;*/
    padding: 14px 0px 14px 50px;
    text-align: left;
  }
  .brand span{
    display: none;
  }

  section > div, .alert {
    width:94%;
    margin:auto;
  }


  #remotestorage-widget{
    right: 8px !important;
    top: 0px !important;
    opacity: 0.8;
  }
  #remotestorage-widget .rs-bubble-text{
    color:grey;
    display:none;
  }
  #remotestorage-widget .rs-bubble{
    width:250px;
    top:25px !important;
  }

  #remotestorage-widget .rs-hidden{
    background-color: inherit !important;
  }

  ul.topnav.responsive {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 30px;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }



}
.link-home {
  color:#000;
  text-decoration: none;
  padding-right: 12px;
}
/***end header style**/

/*alert box*/
.alert{
  display:none;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}

.alert-info {
  background-color: #d9edf7;
  color:#31708f;
}
.alert-closebtn {
    margin:2px;
    text-decoration: none;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
}
.alert-closebtn:hover{
  cursor: pointer;
  color: #000;
}
.alert-msg {
    padding:16px;
}


/***forms***/

#tool-build-teams form ,#tool-find-members form, #tool-next-member  form{
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding:8px;
  box-shadow: 1px 1px 0px #dbdbdb;
  background-color: #fff;
}

.actions {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.actions ul{
  list-style-type: none;
  padding: 0;
}

.actions a{
  display:block;
  margin-top:8px;
  padding:14px;
  font-weight: 400;
  color:#337AB7;
  background-color: #fff;
  box-shadow: 1px 1px 0px #dbdbdb;
  border: 1px solid #337AB7;
  border-radius:5px;
}
.actions a:hover{
  background-color: #FCFCFC;
}

#teams-result{
  border: 1px solid #ddd;
  padding:8px;
  /*padding-top:12px;*/
}
#tool-next-member li label{
  display:block;
}
#tool-next-member li input{
  float:right;
}



.list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    background-color: #fff;
}

.list li {
    padding: 0px;
    border-bottom: 1px solid #ddd;
}

.list li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #4078c0;
}

.list li a:hover {
	background-color: #FCFCFC;
}

.list li:last-child {
    border-bottom: none
}

div.team h3, .header-tbl{
  margin:0;
  padding:12px 0px;
  border-bottom: 0;
  font-weight: 700;
}



.team li {
  padding: 10px 16px;
}

div.team li:first-child {
  color: green;
}

.header-tbl{
  text-align: right;
}


section header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
  padding:0;
}

select{
  display: inline-block;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.9em;
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  color: #5f5f5f;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border: 1px solid #dbdbdb;
}
.btn-danger{
  background-color: #D9534F;
}
.btn-default{
  background-color: #337AB7;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 0;
}
.btn-success{
  background-color: #5CB85C;
}

button, input[type=submit],input[type=button] {
  display: inline-block;
  margin-top:12px;
  border-radius: 2px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px 12px;
  border: 0;
}

a.add-link{
  border-radius: 2px;
  color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 6px 8px;
  border: 0;
}

button, input[type=submit], input[type=button]:hover {
  cursor: pointer;
}

.radio-group {
  display: inline-block;
  margin:0;
  padding:7px;
  font-size:0.9em;
}

textarea{
  color: #5f5f5f;
  box-sizing: border-box;
  width: 50%;
  height: 80px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font: normal 13px sans-serif;
  border: 1px solid #dbdbdb;
  resize: vertical;
  display:block;
}

/*forms for mobiles*/
@media screen and (max-width:680px) {

  input[type=text], input[type=submit], input[type=button], select, textarea, button {
    width: 100%;
  }
  input[type="radio"] {
      width: auto;
  }

  #team-list-details input {
    width:auto;
  }

  .radio-group {
    display: block;
  }
  .actions {
    width:100%;
  }

}



/** form elements **/
