<div>
  <header>
    <h2><a href="javascript:void(0);" onclick="history.back();" class="link-home">&#8592;</a>About</h2>
  </header>
  <div>
    <p><strong>Welcome</strong> to Team Tool Box, a project to help you build teams or find members randomly!</p>
    <p>This tool may be usefull for trainers, teachers, managers and  everyone who work with or within groups.</p>
    <p>It may respond to whenever we need to pick someone, don't find volonteers, define teams (practical exercices, collective thinking, etc...) or need a passing order.

     </p>

  <p>This site does not hold any of your datas. Thanks to <a href="https://remotestorage.io/">remoteStorage</a>, you can keep and synchronize your datas accross devices.
    Just click on the top-right icon, you can host your own remoteStorage server or choose between existing providers. </p>
  <p><strong>Developper: </strong>
    This is a <a href="http://unhosted.org/">unhosted</a> Single Page Application built with several tiny components,
    more information and source code here: <a href="https://github.com/lduboeuf/team-tool-box">https://github.com/lduboeuf/team-tool-box</a>
  </p>
  <p>
      Also, demonstrate that for little apps, there is no need to use big MV* Frameworks and program frameworks' oriented code.
  </p>
</div>
</div>
