<div>
  <p><strong>Welcome</strong> to Team Tool Box, a project to help you build teams or find members randomly!</p>
  <p>This tool may be usefull for trainers, teachers, managers and  everyone who work with or within groups.</p>
  <p>It may respond to whenever we need to pick someone, don't find volonteers or define teams (practical exercices, collective thinking, etc...).

   </p>

<p>This site does not hold any of your datas. Your datas are stored in your browser's local storage, just use <a href="https://remotestorage.io/">remoteStorage</a> by clicking top-right icon if you want to synchronize your datas accross devices </p>
<p><strong>Developper: </strong>
  This is a sample Single Page Application built with several tiny components,
  more information and source code here: <a href="https://github.com/lduboeuf/team-tool-box">https://github.com/lduboeuf/team-tool-box</a>
</p>
<p>
    Also,demonstrate that for little apps, there is no need to big MV* Frameworks and complex glue code.
</p>
</div>
