<div>

  <header>
    <div>
      <h2><a href="javascript:void(0);" onclick="history.back();" class="link-home">&#8592;</a>Archive "{{=it.name}}"</h2>
      <a href="#" class="remove-link">&#10006; remove</a>
    </div>
  </header>

  <div class="team-list">
    <h3>description:</h3>
    <p>{{=it.description}}</p>
    {{~it.teams :team:idx}}
    <div class="team">
      <h3>{{=team.name}}</h3>
      <ul class="teams" >
        {{~team.members :member:idxm}}
          <li>{{=member.name}}</li>
        {{~}}
      </ul>
    </div>
    {{~}}
  </div>
</div>
