<div>
  <header>
  <form>
    <table>
      <tr>
    <td>
    
      <select id="nb">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
      </select>
      <div class="radio-group">

          <input type="radio" name="opt" id="gen_teams" checked="checked"/>
          <label for="gen_teams">members/team</label>
          <input type="radio" name="opt" id="gen_members"/>
        <label for="gen_members">members</label>
      </div>
    </td>
  </tr>
    <tr>



      <td>
        <label for="nb">within:</label>
      <select class="team-list" name="team-list">
        {{#teams}}
        <option value="{{id}}">{{name}}</option>
        {{/teams}}
      </select>
      <input type="submit" name="ok" value="find" class="button btn-default"/>
      </td>
    </tr>
    </table>
  </form>
</header>
  <div id="teams-result">
  {{#list}}
  <div class="team">
    <h3>{{name}}</h3>
    <ul class="teams" >
      {{#members}}
      <li>{{name}}</li>
      {{/members}}
    </ul>
  </div>
  {{/list}}
    <!-- <button class="btn-default">save</button> -->
  </div>
</div>
