
body {
  margin:0;
  font-family: Verdana,sans-serif;
  background-color: #F5F5F5;
  font-size: 14px;
}

h2 { font-size: 1.10em; }
h3 { font-size: 1em; }


.alert-info {
  margin: 10px;
  display:none;
  background-color: #D9EDF7;
  color:#31708f;
  border: 1px solid #31708f;
  border-radius: 4px;
}
.alert-closebtn {
    margin:2px;
    text-decoration: none;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
}
.alert-closebtn:hover{
  cursor: pointer;
  color: #000;
}
.alert-msg {
    padding:16px;
}

/* all sections are off by default */
body > section {
  margin: 1em;
  display:none;
}


body.about           > section#about,
body.home    > section#home,
body.team-list    > section#team-list,
body.team-add    > section#team-add,
body.archive-save    > section#archive-save,
body.team-member-details > section#team-member-details { display:block; }

/*header*/
body header {
  background-color: #333;
  color: #f2f2f2;
  box-shadow: 0px 5px 8px #ccc;
  top:0;
  width: 100%;
}

body .brand {
  /*float: left;*/
  padding: 14px 12px;
  text-align: left;
}
.brand a{
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
}
.brand span{
  display: block;
}



ul.topnav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  display:inline;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  /*font-size: 17px;*/
}

ul.topnav li a:hover {background-color: #555;}
ul.topnav li a.selected {background-color: #555;}
ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.link-home {
  color:#000;
  text-decoration: none;
  padding-right: 12px;
}

/***end menu style**/

#home form{
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding:8px;
  box-shadow: 1px 1px 0px #dbdbdb;
  background-color: #fff;
}
.box-right{
  text-align: right;
}

select{
  display: inline-block;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  color: #5f5f5f;
  box-sizing: border-box;
  width: 240px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border: 1px solid #dbdbdb;
}
.btn-danger{
  background-color: #e06c85;
}
.btn-default{
  background-color: #6caee0;
}

button, input[type=submit],input[type=button]  {
  display: inline-block;
  border-radius: 2px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px 12px;
  border: 0;
}

button, input[type=submit], input[type=button]:hover {
  cursor: pointer;
}

.radio-group {
  display: inline-block;
  margin:0;
}

.radio-group input {
  display: none;
}

.radio-group label {
  display: inline-block;
  border-radius: 2px;
  background-color: #fff;
  font-size:0.9em;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.radio-group label:hover {
	cursor: pointer;
}

.radio-group input:checked + label {
  background-color: #6caee0;
  color: #ffffff;
}

.radio-group label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio-group label:last-of-type {
  border-radius: 0 4px 4px 0;
}

textarea{
  color: #5f5f5f;
  box-sizing: border-box;
  width: 240px;
  height: 80px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font: normal 13px sans-serif;
  padding: 12px;
  border: 1px solid #dbdbdb;
  resize: vertical;
  display:block;
}

section div.team {
  margin-top:20px;
  padding:0;
}
div.team h3{
  margin:0;
  padding:12px;
  background-color: #E7E7E7;
  border: 1px solid #ddd;
  border-bottom: 0;
}

section ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    background-color: #fff;
}

section ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

section ul li a {
    display: block;
    text-decoration: none;
    color: #605D5D;

}

section ul li:hover {
	background-color: #fcfcfc;
}

section ul li:last-child {
    border-bottom: none
}

/** form elements **/
